extends layout

block content
	a(href='/') Home
	div.section.group
		div.col.span_12_of_12
			h1.align-text-h-center #{letter} is for...
	div#tableWrapper
		div.headerRow.section.group
			div.col.span_3_of_12.align-text-h-right
				span Sort:
			div.col.span_6_of_12.align-text-h-center
				buttongroup.section.group
					button#name.sorter.col.span_4_of_12 Name
					button#city.sorter.col.span_4_of_12.margin-left-none.ascending City
					button#rating.sorter.col.span_4_of_12.margin-left-none Rating

		div#barWrapper
			each val, index in bars
				article.bar.section.group(id=val.name, data-name=val.name, data-city=val.city, data-rating=val.rating)
					div.col.span_8_of_12
						h1.h3
							a(href=val.url, target='_blank') #{val.name}
						p.margin-bottom-none
							span.margin-right-med #{val.rating} Stars
							span #{val.review_count} Reviews
					div.col.span_4_of_12
						if val.neighborhood
							p.margin-bottom-none
								span #{val.city}
								br
								span.font_small #{val.neighborhood}
						else
							p.margin-bottom-none
								span #{val.city}